<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- Scan for annotations used for the beans declaration (@Repository, @Service, 
		@Autowired, etc...) -->
	<context:component-scan base-package="com.sfeir.demo.devoxx" />

	<!-- Router REST -->
	<bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />
	<!-- REST Configuration with Spring -->
	<bean id="component" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="application" />
		<property name="client">
			<util:constant static-field="org.restlet.data.Protocol.HTTP" />
		</property>
	</bean>

	<bean id="application" class="com.sfeir.demo.devoxx.Main">
		<property name="inboundRoot" ref="router" />
	</bean>

	<bean name="session" class="com.sfeir.demo.devoxx.repository.SessionFactory">
		<property name="lilyClient" ref="lilyClient" />
	</bean>

	<bean id="lilyClient" class="com.sfeir.demo.devoxx.repository.LilyClientFactory">
		<property name="zookeeperNodes">
			<util:properties location="classpath:lily-zookeeper-nodes.properties" />
		</property>
		<property name="zookeeperSessionTimeout" value="20000" />
	</bean>

	<bean id="queryEngine" class="com.sfeir.demo.devoxx.dao.query.QueryImpl">
		<property name="solrServers">
			<list>
				<value>http://localhost:8983/solr</value>
			</list>
		</property>
	</bean>

	<bean id="conferenceDao" class="com.sfeir.demo.devoxx.dao.impl.ConferenceDaoImpl">
		<property name="nameSpace" value="com.sfeir.demo.devoxx" />
		<property name="lbHttpSolrServer" ref="queryEngine" />
	</bean>

	<bean id="voteDao" class="com.sfeir.demo.devoxx.dao.impl.VoteDaoImpl">
		<property name="nameSpace" value="com.sfeir.demo.devoxx" />
		<property name="lbHttpSolrServer" ref="queryEngine" />
	</bean>

	<!-- Rest APIs -->

	<!-- Conference : Read -->
	<bean name="/v1/conferences/{conferenceId}"
		class="com.sfeir.demo.devoxx.resource.impl.ConferenceResourceImpl"
		scope="prototype" autowire="byName" />

	<!-- Conference : Create and List -->
	<bean name="/v1/conferences/"
		class="com.sfeir.demo.devoxx.resource.impl.ConferencesResourceImpl"
		scope="prototype" autowire="byName" />
		
	<!-- Vote : Read -->
	<bean name="/v1/votes/{voteId}"
		class="com.sfeir.demo.devoxx.resource.impl.VoteResourceImpl"
		scope="prototype" autowire="byName" />

	<!-- Vote : Create and List -->
	<bean name="/v1/conferences/{conferenceId}/votes/"
		class="com.sfeir.demo.devoxx.resource.impl.VotesResourceImpl"
		scope="prototype" autowire="byName" />
		
</beans>
       						
